[Desktop Entry]
Name=Firefox Developer
GenericName=Firefox Developer Edition
Exec=/opt/firefox-developer/firefox-62/firefox/firefox
Terminal=false
Icon=/opt/firefox-developer/firefox-62/firefox/icons/Firefox_Developer_Edition_logo.png
Type=Application
Categories=Application;Network;X-Developer;
Comment=Firefox Developer Edition Web Browser.
